.catalog {
  &_card {
    box-shadow: none !important;
  }

  &_img {
    object-fit: contain;
    height: 121px;
  }
}

.mat-expansion-panel {
  background-color: transparent;
  box-shadow: none !important;
}

