.catalog {
  &_card {
    box-shadow: none !important;
    .mat-card-header {
      padding-bottom: 1rem;
    }
  }
  &_img{
    object-fit: contain;
    height: 121px;
  }
}

.mat-expansion-panel {
  background-color: transparent;
  box-shadow: none !important;
}
