<div class="container">
  <div class="my-5">
    <a routerLink="/home" class="mat-caption">Home</a>
    <span class="mat-caption mx-3">/</span>
    <span class="mat-caption">Catalog</span>
  </div>

  <div  fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px grid">
      <p class="mat-display-1 mb-0">Catalog</p>
      <mat-icon matBadge="3" class="demo-section">tune</mat-icon>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign=" center">
      <div fxLayout="row wrap" fxLayoutGap="15px">
        <mat-icon style="padding-bottom: 1.34375em">grid_view</mat-icon>
        <mat-icon style="padding-bottom: 1.34375em">view_list</mat-icon>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Order</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="100" fxFlex.gt-xs="25">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Category
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let x of [].constructor(4)">
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Price range
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row wrap" fxLayoutGap="30px grid">
            <mat-form-field appearance="fill" fxFlex="50" class="example-full-width">
              <label>
                <input matInput placeholder="R$5,00">
              </label>
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="50" class="example-full-width">
              <label>
                <input matInput placeholder="R$1.000,00">
              </label>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Color
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let x of [].constructor(4)">
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </mat-accordion>
      <div class="my-5" fxLayout="row wrap" fxLayoutAlign="start center">
        <span class="mat-body-2 mr-4">Only Stock</span>
        <mat-slide-toggle (change)="handlerMode($event)">
        </mat-slide-toggle>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="70">
          <button fxFlex color="primary" mat-flat-button>1000 itens</button>
        </div>
        <div fxFlex="30">
          <button fxFlex mat-stroked-button>Clear</button>
        </div>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="75">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="100" fxFlex.gt-sm="{{g.col4}}" *ngFor="let x of [].constructor(9)">
          <mat-card class="catalog_card">
            <div fxLayout="row" fxLayoutAlign="end center">
              <mat-icon>favorite</mat-icon>
            </div>
            <img class="catalog_img" mat-card-image
                 src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/brazilian/ds4_controller.png"
                 alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              <p class="mat-body-2">R$49,00</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>
