<div class="container">
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div class="my-5" fxFlex="{{gridView.col12}}">
      <span class="mat-caption">Home</span>
      <span class="mat-caption mx-3">/</span>
      <span class="mat-caption">Catalog</span>
    </div>
    <div fxFlex="{{gridView.col12}}">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10px grid">
          <p class="mat-display-1 mb-0">Catalog</p>
          <mat-icon matBadge="3" class="demo-section">tune</mat-icon>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign=" center">
          <div fxLayout="row wrap" fxLayoutGap="15px">
            <mat-icon style="padding-bottom: 1.34375em">grid_view</mat-icon>
            <mat-icon style="padding-bottom: 1.34375em">view_list</mat-icon>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div fxFlex="{{gridView.col3}}">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Category
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let x of [].constructor(4)">
            <mat-checkbox class="example-margin">Check me!</mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Price range
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row wrap" fxLayoutGap="30px grid">
            <mat-form-field appearance="fill" fxFlex="{{gridView.col6}}" class="example-full-width">
              <input matInput placeholder="R$5,00">
            </mat-form-field>
            <mat-form-field appearance="fill" fxFlex="{{gridView.col6}}" class="example-full-width">
              <input matInput placeholder="R$1.000,00">
            </mat-form-field>
          </div>
          <mat-slider min="200" max="500">
            <input value="300" matSliderStartThumb>
            <input value="400" matSliderEndThumb>
          </mat-slider>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div fxFlex="{{gridView.col9}}">
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="{{gridView.col4}}" *ngFor="let x of [].constructor(9)">
          <mat-card class="catalog_card">
            <div>
              <span class="spacer"></span>
              <mat-icon>favorite</mat-icon>
            </div>
            <img class="catalog_img" mat-card-image
                 src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/brazilian/ds4_controller.png"
                 alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              <p class="mat-body-2">R$49,00</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>
