// global

* {
  outline: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

html {
  position: relative;
  min-height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  flex-grow: 1;
}
